<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
</head>
<body>

<h1>Product List</h1>

<table border="1">
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Qty</th>
        <th>Image</th>
    </tr>

    <tr th:each="p : ${products}">
        <td th:text="${p.name}"></td>
        <td th:text="${p.price}"></td>
        <td th:text="${p.qty}"></td>
        <td>
            <img th:src="@{${p.imageUrl}}" width="80"/>
        </td>
    </tr>

</table>

</body>
</html>
